{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <h1 class="h2">Custom Dashboard</h1>
        <div>Welcome to your custom dashboard!</div>
    </div>
{% endblock %}
